@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: fit-content;
  animation: typing 3s steps(20, end), blink 1s step-end infinite;
}
